<section class="item-selector-section">
    <header class="component-header">
        <h3>{{localize "SR5Marketplace.ItemBuilder.Items.Header"}}</h3>
        <input type="search" name="itemSearch" placeholder="Search items..."/>
    </header>
    <div class="item-content-grid">
        {{#each items}}
        <div class="item-card" draggable="true" data-item-uuid="{{this.uuid}}">
            <img src="{{this.img}}" alt="{{this.name}}" class="item-image" loading="lazy"/>
            <a class="item-name" data-action="clickItemName" data-item-uuid="{{this.uuid}}">{{this.name}}</a>
            <a class="select-icon" data-action="selectBaseItem" data-item-uuid="{{this.uuid}}" title="Select as Base">
                <i class="fas fa-crosshairs"></i>
            </a>
        </div>
        {{/each}}
    </div>
</section>