<div class="builder-area">
    <div class="item-showcase">
        <div class="mod-slot top-left"></div>
        <div class="mod-slot bottom-left"></div>

        <div class="base-item-display">
            <h4>{{builder.baseItem.name}}</h4>
            <img src="{{builder.baseItem.img}}" alt="{{builder.baseItem.name}}" />
            <p class="item-effects">Additional effects will be listed here.</p>
        </div>

        <div class="mod-slot top-right"></div>
        <div class="mod-slot middle-right"></div>
        <div class="mod-slot bottom-right"></div>
    </div>

    <div class="bottom-slots">
        <div class="mod-slot"></div>
        <div class="mod-slot"></div>
        <div class="mod-slot"></div>
        <div class="mod-slot"></div>
    </div>

    <div class="item-stats-display">
        <div class="stat-block">
            <label>Damage</label>
            <span>{{builder.stats.damage}}</span>
        </div>
        <div class="stat-block">
            <label>Accuracy</label>
            <span>{{builder.stats.accuracy}}</span>
        </div>
        <div class="stat-block">
            <label>AP</label>
            <span>{{builder.stats.ap}}</span>
        </div>
        <div class="stat-block">
            <label>Mode</label>
            <span>{{builder.stats.mode}}</span>
        </div>
        <div class="stat-block">
            <label>RC</label>
            <span>{{builder.stats.rc}}</span>
        </div>
        <div class="stat-block">
            <label>Ammo</label>
            <span>{{builder.stats.ammo}}</span>
        </div>
    </div>
</div>