<div class="effects-container">
    {{!-- PART 1: ALWAYS RENDER THE LIST OF EXISTING EFFECTS --}}
    <header class="itemBuilder effects-header">
        <h2>{{localize "SR5Marketplace.ItemBuilder.Effects.ManageEffects"}}</h2>
        <p>{{localize "SR5Marketplace.ItemBuilder.Effects.ManageEffectsHint"}}</p>
    </header>
    
    <div class="game-effects-dashboard">
        {{#each effectGroups}}
        <div class="dashboard-column">
            <div class="dashboard-item-wrapper">
                {{#if this.isBaseItem}}
                    <div class="dashboard-base-item">
                        <img src="{{this.itemImg}}" class="dashboard-item-img" />
                        <span class="dashboard-item-name" title="{{this.itemName}}">{{this.itemName}}</span>
                        <a class="dashboard-add-btn" data-action="createEffect" data-source-uuid="{{this.sourceUuid}}" title="{{localize 'SR5Marketplace.ItemBuilder.Effects.AddEffect'}}">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                {{else}}
                    <div class="dashboard-mod-badge" data-source-uuid="{{this.sourceUuid}}">
                        <img src="{{this.itemImg}}" class="dashboard-item-img" />
                        <span class="dashboard-item-name" title="{{this.itemName}}">{{this.itemName}}</span>
                        <a class="mod-add-overlay" data-action="createEffect" data-source-uuid="{{this.sourceUuid}}" title="{{localize 'SR5Marketplace.ItemBuilder.Effects.AddEffect'}}">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                {{/if}}
            </div>
            
            <div class="dashboard-effects-list">
                {{#each this.effects}}
                <div class="active-effect-tag" title="{{this.name}}">
                    <span class="effect-name">{{this.name}}</span>
                    <div class="effect-tag-actions">
                        <a data-action="editEffect" data-source-uuid="{{../sourceUuid}}" data-effect-id="{{this._id}}" title="{{localize 'SR5.Edit'}} {{localize 'SR5.Effect'}}">
                            <i class="fas fa-edit"></i>
                        </a>
                        {{#if this.sourceUuid}}
                            <a data-action="deleteEffect" data-effect-id="{{this._id}}" title="{{localize 'SR5.Delete'}}">
                                <i class="fas fa-trash"></i>
                            </a>
                        {{else}}
                            <span class="innate-effect" title="{{localize 'SR5Marketplace.ItemBuilder.Effects.InnateLockedHint'}}"><i class="fas fa-lock"></i></span>
                        {{/if}}
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>

    {{!-- PART 2: RENDER THE EFFECT CREATOR UI IF A DRAFT EXISTS --}}
    {{#if draftEffect}}
        <div class="effect-creator-container">
            <form autocomplete="off">
                <header class="itemBuilder creator-header effects-header">
                    <h2>{{#if draftEffect.isEdit}}{{localize 'SR5Marketplace.ItemBuilder.Effects.EditEffectHeader'}}{{else}}{{localize 'SR5Marketplace.ItemBuilder.Effects.CreateEffectHeader'}}{{/if}}</h2>
                </header>

                <section class="itemBuilder effect-creator-steps">
                    <div class="effect-creator-layout">
                        {{!-- Left Column: Input Fields (Divided into two sub-columns) --}}
                        <div class="creator-column left-fields">
                            <div class="left-fields-subcolumns">
                                <div class="subcolumn subcolumn-a">
                                    <div class="subcolumn-header-group">
                                        <div class="name-icon-row">
                                            <div class="form-group">
                                                <label>{{localize 'SR5Marketplace.ItemBuilder.Effects.EffectNameLabel'}}</label>
                                                <input type="text" name="name" value="{{draftEffect.name}}" placeholder="{{localize 'SR5Marketplace.ItemBuilder.Effects.EffectNamePlaceholder'}}"/>
                                            </div>
                                            <div class="form-group">
                                                <label>{{localize 'SR5Marketplace.ItemBuilder.Effects.EffectIconLabel'}}</label>
                                                <div class="icon-selector" data-action="selectEffectIcon" title="{{localize 'SR5Marketplace.ItemBuilder.Effects.SelectIconTooltip'}}">
                                                    <img src="{{@root.draftEffect.img}}" alt="{{localize 'SR5Marketplace.ItemBuilder.Effects.EffectIconLabel'}}"/>
                                                    <input type="hidden" name="img" value="{{@root.draftEffect.img}}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>{{localize 'SR5Marketplace.ItemBuilder.Effects.ApplyToLabel'}}</label>
                                            <div class="button-group applyTo">
                                                <button type="button" class="{{#if (eq @root.draftEffect.system.applyTo 'actor')}}active{{/if}}" data-action="setEffectTargetType" data-target-type="actor" title="{{localize 'SR5Marketplace.ItemBuilder.Effects.ApplyTo.actor'}}"><i class="fas fa-user"></i></button>
                                                <button type="button" class="{{#if (eq @root.draftEffect.system.applyTo 'targeted_actor')}}active{{/if}}" data-action="setEffectTargetType" data-target-type="targeted_actor" title="{{localize 'SR5Marketplace.ItemBuilder.Effects.ApplyTo.targeted_actor'}}"><i class="fas fa-crosshairs"></i></button>
                                                <button type="button" class="{{#if (eq @root.draftEffect.system.applyTo 'test_all')}}active{{/if}}" data-action="setEffectTargetType" data-target-type="test_all" title="{{localize 'SR5Marketplace.ItemBuilder.Effects.ApplyTo.test_all'}}"><i class="fas fa-dice"></i></button>
                                                <button type="button" class="{{#if (eq @root.draftEffect.system.applyTo 'test_item')}}active{{/if}}" data-action="setEffectTargetType" data-target-type="test_item" title="{{localize 'SR5Marketplace.ItemBuilder.Effects.ApplyTo.test_item'}}"><i class="fas fa-dice-d20"></i></button>
                                                <button type="button" class="{{#if (eq @root.draftEffect.system.applyTo 'modifier')}}active{{/if}}" data-action="setEffectTargetType" data-target-type="modifier" title="{{localize 'SR5Marketplace.ItemBuilder.Effects.ApplyTo.modifier'}}"><i class="fas fa-sliders-h"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    {{#if @root.draftEffect.system.applyTo}}
                                        {{#if @root.isTestMode}}
                                            <div class="form-group">
                                                <label>{{localize 'SR5Marketplace.ItemBuilder.Effects.TestFilterLabel'}} <i class="fa-solid fa-circle-info" style="cursor: help; margin-left: 5px; color: var(--color-grey-light);" title="{{@root.testsOptionsListString}}"></i></label>
                                                {{> "modules/sr5-marketplace/templates/apps/itemBuilder/partials/multi-select.html" 
                                                    name="system.selection_tests"
                                                    options=@root.selection_test_options
                                                    selected=@root.draftEffect.system.selection_tests
                                                    placeholder=(localize 'SR5Marketplace.ItemBuilder.Effects.SelectTestsPlaceholder')
                                                }}
                                            </div>
                                            <div class="form-group">
                                                <label>{{localize 'SR5Marketplace.ItemBuilder.Effects.CategoryFilterLabel'}} <i class="fa-solid fa-circle-info" style="cursor: help; margin-left: 5px; color: var(--color-grey-light);" title="{{@root.categoriesOptionsListString}}"></i></label>
                                                {{> "modules/sr5-marketplace/templates/apps/itemBuilder/partials/multi-select.html" 
                                                    name="system.selection_categories"
                                                    options=@root.selection_category_options
                                                    selected=@root.draftEffect.system.selection_categories
                                                    placeholder=(localize 'SR5Marketplace.ItemBuilder.Effects.SelectCategoriesPlaceholder')
                                                }}
                                            </div>
                                        {{/if}}
                                    {{/if}}
                                </div>

                                <div class="subcolumn subcolumn-b">
                                    {{#if @root.draftEffect.system.applyTo}}
                                        {{#if @root.isTestMode}}
                                            <div class="form-group">
                                                <label>{{localize 'SR5Marketplace.ItemBuilder.Effects.SkillFilterLabel'}} <i class="fa-solid fa-circle-info" style="cursor: help; margin-left: 5px; color: var(--color-grey-light);" title="{{@root.skillsOptionsListString}}"></i></label>
                                                {{> "modules/sr5-marketplace/templates/apps/itemBuilder/partials/multi-select.html" 
                                                    name="system.selection_skills"
                                                    options=@root.selection_skill_options
                                                    selected=@root.draftEffect.system.selection_skills
                                                    placeholder=(localize 'SR5Marketplace.ItemBuilder.Effects.SelectSkillsPlaceholder')
                                                }}
                                            </div>
                                            <div class="form-group">
                                                <label>{{localize 'SR5Marketplace.ItemBuilder.Effects.AttributeFilterLabel'}} <i class="fa-solid fa-circle-info" style="cursor: help; margin-left: 5px; color: var(--color-grey-light);" title="{{@root.attributesOptionsListString}}"></i></label>
                                                {{> "modules/sr5-marketplace/templates/apps/itemBuilder/partials/multi-select.html" 
                                                    name="system.selection_attributes"
                                                    options=@root.selection_attribute_options
                                                    selected=@root.draftEffect.system.selection_attributes
                                                    placeholder=(localize 'SR5Marketplace.ItemBuilder.Effects.SelectAttributesPlaceholder')
                                                }}
                                            </div>
                                            <div class="form-group">
                                                <label>{{localize 'SR5Marketplace.ItemBuilder.Effects.LimitFilterLabel'}} <i class="fa-solid fa-circle-info" style="cursor: help; margin-left: 5px; color: var(--color-grey-light);" title="{{@root.limitsOptionsListString}}"></i></label>
                                                {{> "modules/sr5-marketplace/templates/apps/itemBuilder/partials/multi-select.html" 
                                                    name="system.selection_limits"
                                                    options=@root.selection_limit_options
                                                    selected=@root.draftEffect.system.selection_limits
                                                    placeholder=(localize 'SR5Marketplace.ItemBuilder.Effects.SelectLimitsPlaceholder')
                                                }}
                                            </div>
                                        {{/if}}
                                    {{/if}}
                                </div>
                            </div>
                        </div>

                        {{!-- Middle Column: Selectable Lists & Interactive Panel --}}
                        <div class="creator-column middle-fields">
                            {{#if @root.draftEffect.system.applyTo}}
                                <div class="keys-scroll-area">
                                    <div class="key-selector-container">
                                        <div class="key-groups-wrapper">
                                            {{#if @root.isActorMode}}
                                                {{#each @root.actorKeyGroups as |group|}}
                                                    <div class="key-group collapsible">
                                                        <input type="checkbox" id="toggle-group-actor-{{group.groupName}}" class="toggle-checkbox" {{#if group.isExpanded}}checked{{/if}}>
                                                        <label for="toggle-group-actor-{{group.groupName}}" class="toggle-label"><h5>{{group.groupName}}</h5><i class="fas fa-chevron-right expand-icon"></i></label>
                                                        <div class="key-buttons toggle-content">
                                                            {{#each group.groupData}}<button type="button" class="key-btn {{#if (eq this.path @root.draftEffect.changes.[0].key)}}selected{{/if}}" data-action="selectDraftKey" data-path="{{this.path}}">{{this.label}}</button>{{/each}}
                                                        </div>
                                                    </div>
                                                {{/each}}
                                            {{/if}}
                                            
                                            {{#if @root.isTestMode}}
                                                {{#each @root.rollKeyGroups as |group|}}
                                                    <div class="key-group collapsible">
                                                        <input type="checkbox" id="toggle-group-roll-{{group.groupName}}" class="toggle-checkbox" checked>
                                                        <label for="toggle-group-roll-{{group.groupName}}" class="toggle-label"><h5>{{group.groupName}}</h5><i class="fas fa-chevron-right expand-icon"></i></label>
                                                        <div class="key-buttons toggle-content">
                                                            {{#each group.groupData}}<button type="button" class="key-btn {{#if (eq this.path @root.draftEffect.changes.[0].key)}}selected{{/if}}" data-action="selectDraftKey" data-path="{{this.path}}">{{this.label}}</button>{{/each}}
                                                        </div>
                                                    </div>
                                                {{/each}}
                                            {{/if}}

                                            {{#if @root.isModifierMode}}
                                                {{#each @root.modifierKeyGroups as |group|}}
                                                    <div class="key-group collapsible">
                                                        <input type="checkbox" id="toggle-group-mod-{{group.groupName}}" class="toggle-checkbox" checked>
                                                        <label for="toggle-group-mod-{{group.groupName}}" class="toggle-label"><h5>{{group.groupName}}</h5><i class="fas fa-chevron-right expand-icon"></i></label>
                                                        <div class="key-buttons toggle-content">
                                                            {{#each group.groupData}}<button type="button" class="key-btn {{#if (eq this.path @root.draftEffect.changes.[0].key)}}selected{{/if}}" data-action="selectDraftKey" data-path="{{this.path}}">{{this.label}}</button>{{/each}}
                                                        </div>
                                                    </div>
                                                {{/each}}
                                            {{/if}}
                                        </div>
                                    </div>

                                    {{#if @root.isDerivedValueSelectorVisible}}
                                    <div class="derived-value-container">
                                        <label>{{localize 'SR5Marketplace.ItemBuilder.Effects.SelectDerivedValueLabel'}}</label>
                                        <div class="derived-value-selector">
                                            {{#each @root.derivedValueKeyGroups as |group|}}
                                                <div class="key-group">
                                                    <h5>{{group.groupName}}</h5>
                                                    <div class="key-buttons">
                                                        {{#each group.groupData}}
                                                            <button type="button" class="{{#if (eq (concat "@" this.path) @root.draftEffect.changes.[0].value)}}active{{/if}}" data-action="selectDerivedValue" data-path="{{this.path}}">
                                                                {{this.label}}
                                                            </button>
                                                        {{/each}}
                                                    </div>
                                                </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                    {{/if}}
                                </div>

                                {{!-- Sticky Bottom Interactive Panel --}}
                                <div class="selected-key-details-panel">
                                    <div class="form-group">
                                        <label>{{localize 'SR5Marketplace.ItemBuilder.Effects.AttributeKeyLabel'}}{{#if @root.attributeKeysOptionsListString}} <i class="fa-solid fa-circle-info" style="cursor: help; margin-left: 5px; color: var(--color-grey-light);" title="{{@root.attributeKeysOptionsListString}}"></i>{{/if}}</label>
                                        <input type="text" name="changes.0.key" value="{{@root.draftEffect.changes.[0].key}}" readonly placeholder="{{localize 'SR5Marketplace.ItemBuilder.Effects.AttributeKeyPlaceholder'}}"/>
                                    </div>
                                
                                    <div class="mode-value-row">
                                        {{#if @root.draftEffect.changes.[0].key}}
                                            <div class="form-group mode-field">
                                                <label>{{localize 'SR5Marketplace.ItemBuilder.Effects.ChangeModeLabel'}}</label>
                                                <div class="button-group mode-selector">
                                                    {{#each @root.changeModes as |mode|}}
                                                    <button type="button" class="{{#if (eq mode.value @root.draftEffect.changes.[0].mode)}}active{{/if}}" data-action="updateDraftField" name="changes.0.mode" value="{{mode.value}}" title="{{localize mode.label}}">
                                                        {{#if (eq mode.mode 'custom')}}<i class="fas fa-asterisk"></i>{{/if}}
                                                        {{#if (eq mode.mode 'multiply')}}<i class="fas fa-times"></i>{{/if}}
                                                        {{#if (eq mode.mode 'add')}}<i class="fas fa-plus"></i>{{/if}}
                                                        {{#if (eq mode.mode 'subtract')}}<i class="fas fa-minus"></i>{{/if}}
                                                        {{#if (eq mode.mode 'downgrade')}}<i class="fas fa-chevron-down"></i>{{/if}}
                                                        {{#if (eq mode.mode 'upgrade')}}<i class="fas fa-chevron-up"></i>{{/if}}
                                                        {{#if (eq mode.mode 'override')}}<i class="fas fa-equals"></i>{{/if}}
                                                    </button>
                                                    {{/each}}
                                                </div>
                                            </div>
                                            <div class="form-group value-field">
                                                <label>{{localize 'SR5Marketplace.ItemBuilder.Effects.EffectValueLabel'}}</label>
                                                <div class="value-input-group">
                                                    <input type="text" name="changes.0.value" value="{{@root.draftEffect.changes.[0].value}}"/>
                                                    <a class="toggle-derived-link" data-action="toggleDerivedValueSelector" title="{{localize 'SR5Marketplace.ItemBuilder.Effects.SelectDerivedValueTooltip'}}">
                                                        <i class="fas fa-at"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        {{/if}}
                                    </div>
                                </div>
                            {{/if}}
                        </div>

                        {{!-- Right Column: Save and Cancel buttons at the bottom --}}
                        <div class="creator-column right-actions">
                            {{#if @root.draftEffect.system.applyTo}}
                                <div class="creator-actions-row">
                                    <button type="button" class="cancel-button" data-action="cancelDraftEffect"><i class="fas fa-times"></i> {{localize 'SR5Marketplace.UI.Cancel'}}</button>
                                    <button type="button" class="save-button" data-action="saveDraftEffect" {{#unless @root.draftEffect.changes.[0].key}}disabled title="{{localize 'SR5Marketplace.ItemBuilder.Effects.SelectAttributeKeyFirst'}}"{{/unless}}><i class="fas fa-save"></i> {{localize 'SR5Marketplace.UI.Save'}}</button>
                                </div>
                            {{/if}}
                        </div>
                    </div>
                </section>
             </form>
         </div>
    {{/if}}
</div>