<div class="item-stats-display">
    <div class="stat-block item-image">
        <img src="{{builderData.baseItem.img}}" title="{{builderData.baseItem.name}}"/>
    </div>
    <div class="stat-block item-name-block">
        <h4>{{builderData.baseItem.name}}<h4>
    </div>

    {{!-- For Cyberware & Bioware --}}
    {{#if (or (eq builderData.baseItem.type "cyberware") (eq builderData.baseItem.type "bioware"))}}
        <div class="stat-block">
            <label>{{localize "SR5.Grade"}}</label>
            <span>{{builderData.baseItem.system.grade}}</span>
        </div>
        <div class="stat-block">
            <label>{{localize "SR5.Essence"}}</label>
            <span>{{builderData.baseItem.system.essence}}</span>
        </div>
    {{/if}}

    {{!-- For Weapons --}}
    {{#if (or (eq builderData.baseItem.type "ranged_weapon") (eq builderData.baseItem.type "melee_weapon"))}}
         <div class="stat-block">
            <label>{{localize "SR5.DamageValueAbbr"}}</label>
            <span>{{builderData.baseItem.system.damage.value}}</span>
        </div>
        <div class="stat-block">
            <label>{{localize "SR5.AccuracyAbbr"}}</label>
            <span>{{builderData.baseItem.system.accuracy.value}}</span>
        </div>
        <div class="stat-block">
            <label>{{localize "SR5.APAbbr"}}</label>
            <span>{{builderData.baseItem.system.ap.value}}</span>
        </div>
    {{/if}}

    {{!-- For Armor --}}
    {{#if (eq builderData.baseItem.type "armor")}}
        <div class="stat-block">
            <label>{{localize "SR5.Armor"}}</label>
            <span>{{builderData.baseItem.system.armor.value}}</span>
        </div>
    {{/if}}

    {{!-- Common stats that appear for most technology items --}}

    <div class="stat-block">
        <label>{{localize "SR5.Rating"}}</label>
        <span>{{builderData.baseItem.system.technology.rating}}</span>
    </div>
    <div class="stat-block">
        <label>{{localize "SR5.Availability"}}</label>
        <span>{{builderData.baseItem.system.technology.availability}}</span>
    </div>
    <div class="stat-block">
        <label>{{localize "SR5.Cost"}}</label>
        <span>{{builderData.baseItem.system.technology.cost}}</span>
        <i class="fa-duotone fa-solid fa-circle-yen sr5-marketplace-yen"></i>
    </div>

    {{!-- Add a divider if any effects exist --}}
    {{#if (or builderData.baseItem.effects.length builderData.modifications.length)}}
        <div class="stat-block-divider"></div>
    {{/if}}
    
    {{!-- 1. Innate Effects (from Base Item) --}}
    {{#each builderData.baseItem.effects}}
        <div class="stat-block effect-stat">
            {{!-- Tooltip shows it's an innate, locked effect --}}
            <label title="{{localize 'SR5Marketplace.ItemBuilder.Effects.InnateLockedHint'}}">
                <i class="fas fa-lock-alt"></i> {{this.name}}
            </label>
            <span>{{this.changes.[0].value}}</span>
        </div>
    {{/each}}
    
    {{!-- 2. Custom Effects (Manually Added) --}}
    {{#each builderData.modifications}}
        <div class="stat-block effect-stat custom-effect">
            {{!-- Tooltip shows it's a custom modification --}}
            <label title="{{localize 'SR5Marketplace.ItemBuilder.Effects.CustomEffect'}}">
                <i class="fas fa-bolt"></i> {{this.name}}
            </label>
            <span>{{this.changes.[0].value}}</span>
        </div>
    {{/each}}
</div>