<div class="item-stats-display">
    <div class="stat-block item-image">
        {{#if isEditingBaseItem}}
            <a data-action="selectBaseItemImage" 
               title="{{localize 'SR5Marketplace.ItemBuilder.SelectImage'}}">
                <img src="{{displayItem.img}}" title="{{displayItem.name}}"/>
            </a>
        {{else}}
            <img src="{{displayItem.img}}" title="{{displayItem.name}}"/>
        {{/if}}
    </div>
    
    <div class="stat-block item-name-block">
        {{#if isEditingBaseItem}}
            <input type="text" 
                   name="name" 
                   value="{{displayItem.name}}" 
                   class="item-name-input" /> <a class="base-item-edit-icon" 
               data-action="toggleBaseItemEdit" 
               title="{{localize 'SR5Marketplace.ItemBuilder.DoneEditing'}}">
                <i class="fas fa-check"></i>
            </a>
        {{else}}
            <h4>{{displayItem.name}}</h4>
            <a class="base-item-edit-icon" 
               data-action="toggleBaseItemEdit" 
               title="{{localize 'SR5Marketplace.ItemBuilder.EditBaseItem'}}">
                <i class="fas fa-pencil-alt"></i>
            </a>
        {{/if}}
    </div>

    {{!-- For Cyberware & Bioware --}}
    {{#if (or (eq displayItem.type "cyberware") (eq displayItem.type "bioware"))}}
        <div class="stat-block">
            <label>{{localize "SR5.Grade"}}</label>
            {{#if isEditingBaseItem}}
                <input type="text" name="system.grade" value="{{displayItem.system.grade}}" /> {{else}}
                <span>{{displayItem.system.grade}}</span>
            {{/if}}
        </div>
        <div class="stat-block">
            <label>{{localize "SR5.Essence"}}</label>
            {{#if isEditingBaseItem}}
                <input type="text" name="system.essence" value="{{displayItem.system.essence}}" /> {{else}}
                <span>{{displayItem.system.essence}}</span>
            {{/if}}
        </div>
    {{/if}}

    {{!-- For Weapons --}}
    {{#if (or (eq displayItem.type "ranged_weapon") (eq displayItem.type "melee_weapon"))}}
         <div class="stat-block">
            <label>{{localize "SR5.DamageValueAbbr"}}</label>
            {{#if isEditingBaseItem}}
                <input type="text" name="system.damage.value" value="{{displayItem.system.damage.value}}" /> {{else}}
                <span>{{displayItem.system.damage.value}}</span>
            {{/if}}
        </div>
        <div class="stat-block">
            <label>{{localize "SR5.AccuracyAbbr"}}</label>
            {{#if isEditingBaseItem}}
                <input type="text" name="system.accuracy.value" value="{{displayItem.system.accuracy.value}}" /> {{else}}
                <span>{{displayItem.system.accuracy.value}}</span>
            {{/if}}
        </div>
        <div class="stat-block">
            <label>{{localize "SR5.APAbbr"}}</label>
            {{#if isEditingBaseItem}}
                <input type="text" name="system.ap.value" value="{{displayItem.system.ap.value}}" /> {{else}}
                <span>{{displayItem.system.ap.value}}</span>
            {{/if}}
        </div>
    {{/if}}

    {{!-- For Armor --}}
    {{#if (eq displayItem.type "armor")}}
        <div class="stat-block">
            <label>{{localize "SR5.Armor"}}</label>
            {{#if isEditingBaseItem}}
                <input type="text" name="system.armor.value" value="{{displayItem.system.armor.value}}" /> {{else}}
                <span>{{displayItem.system.armor.value}}</span>
            {{/if}}
        </div>
    {{/if}}

    {{!-- Common stats --}}
    <div class="stat-block">
        <label>{{localize "SR5.Rating"}}</label>
        {{#if isEditingBaseItem}}
            <input type="text" name="system.technology.rating" value="{{displayItem.system.technology.rating}}" /> {{else}}
            <span>{{displayItem.system.technology.rating}}</span>
        {{/if}}
    </div>
    <div class="stat-block">
        <label>{{localize "SR5.Availability"}}</label>
        {{#if isEditingBaseItem}}
            <input type="text" name="system.technology.availability" value="{{displayItem.system.technology.availability}}" /> {{else}}
            <span>{{displayItem.system.technology.availability}}</span>
        {{/if}}
    </div>
    <div class="stat-block">
        <label>{{localize "SR5.Cost"}}</label>
        {{#if isEditingBaseItem}}
            <input type="text" name="system.technology.cost" value="{{displayItem.system.technology.cost}}" /> {{else}}
            <span>{{displayItem.system.technology.cost}}</span>
        {{/if}}
        <i class="fa-duotone fa-solid fa-circle-yen sr5-marketplace-yen"></i>
    </div>

    {{#unless isEditingBaseItem}}
        {{#if (or builderData.baseItem.effects.length builderData.modifications.length)}}
            <div class="stat-block-divider"></div>
        {{/if}}
        {{#each builderData.baseItem.effects}}
            {{/each}}
        {{#each builderData.modifications}}
            {{/each}}
        <div class="stat-block-divider"></div>
        <div class="stat-block description-block">
            <label>{{localize "SR5.Description"}}</label>
            <div class="description-content">{{{displayItem.system.description.value}}}</div>
        </div>
    {{/unless}}

    {{#if isEditingBaseItem}}
        <div class="stat-block-divider"></div>
        <div class="stat-block description-block">
            <label>{{localize "SR5.Description"}}</label>
            <textarea name="system.description.value" 
                      rows="4">{{displayItem.system.description.value}}</textarea> </div>
    {{/if}}

</div>