<div class="marketplace-container">
    <header class="marketplace-header">
        <nav class="marketplace-tabs" data-group="main">
            {{#each tabs}}
            <button id="id-{{this.id}}" class="marketplace-tab {{this.cssClass}}" data-tab="{{this.id}}" type="button" title="{{this.tooltip}}">
                <i class="fas {{this.icon}}"></i>
                {{#if this.label}}
                    <span>{{this.label}}</span>
                {{/if}}
                {{#if (and this.count (gt this.count 0))}}
                    <span class="notification-badge">{{this.count}}</span>
                {{/if}}
            </button>
            {{/each}}
        </nav>
        <div class="header-center">
            <div class="marketplace-title">{{localize "SR5.PurchaseScreen"}}</div>
        </div>
        <div class="header-right">
            {{> 'modules/sr5-marketplace/templates/apps/inGameMarketplace/partials/marketplaceUserActor.html' actor=actor ownedActors=ownedActors}}
        </div>
    </header>
      
      <section class="marketplace-body">
        {{{tabContent}}}
      </section>
</div>
