<div class="skills-list">

    {{!-- Active Skills --}}
    <div class="collapsible-section">
        <input type="checkbox" id="toggle-active-skills" class="toggle" checked>
        <label for="toggle-active-skills" class="toggle-label">
            <div class="marketplace-collapsible-header">{{localize "SR5.ActiveSkills"}}</div>
        </label>
        <div class="toggle-content">
            <div class="active-skills skill-group">
                <div class="skill-header sr5-grid-3c">
                    <span></span><span class="skill-name">{{localize "SR5.Name"}}</span><span class="skill-rating">{{localize "SR5.Rating"}}</span>
                </div>
                <div class="sr5-grid-3c">
                    {{#each activeSkills as |skill|}}
                        <div class="skill-icon" data-id="{{skill.id}}"></div>
                        <div class="skill-name" data-id="{{skill.id}}">{{skill.name}}</div>
                        {{#if @root.isEditMode}}
                            <input class="value-input" type="number" name="system.skills.active.{{skill.id}}.value" value="{{skill.value}}"/>
                        {{else}}
                            <div class="skill-rating">{{skill.value}}</div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

    {{!-- Knowledge Skills --}}
    {{#each knowledgeSkillGroups as |group|}}
        <div class="collapsible-section">
            <input type="checkbox" id="toggle-knowledge-{{group.label}}" class="toggle">
            <label for="toggle-knowledge-{{group.label}}" class="toggle-label">
                <div class="marketplace-collapsible-header">{{group.label}}</div>
            </label>
            <div class="toggle-content">
                <div class="knowledge-skills skill-group">
                    <div class="skill-header sr5-grid-3c">
                        <span></span><span class="skill-name">{{localize "SR5.Name"}}</span><span class="skill-rating">{{localize "SR5.Rating"}}</span>
                    </div>
                    <div class="sr5-grid-3c">
                        {{#each group.skills as |skill|}}
                            <div class="skill-icon" data-id="{{skill.id}}"></div>
                            <div class="skill-name" data-id="{{skill.id}}">{{skill.name}}</div>
                             {{#if @root.isEditMode}}
                                <input class="value-input" type="number" name="system.skills.knowledge.{{group.key}}.value.{{skill.id}}.value" value="{{skill.value}}"/>
                            {{else}}
                                <div class="skill-rating">{{skill.value}}</div>
                            {{/if}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    {{/each}}

    {{!-- Language Skills --}}
    <div class="collapsible-section">
        <input type="checkbox" id="toggle-language-skills" class="toggle">
        <label for="toggle-language-skills" class="toggle-label">
            <div class="marketplace-collapsible-header">{{localize "SR5.Languages"}}</div>
        </label>
        <div class="toggle-content">
            <div class="language-skills skill-group">
                <div class="skill-header sr5-grid-3c">
                    <span></span><span class="skill-name">{{localize "SR5.Name"}}</span><span class="skill-rating">{{localize "SR5.Rating"}}</span>
                </div>
                <div class="sr5-grid-3c">
                    {{#each languageSkills as |skill|}}
                        <div class="skill-icon" data-id="{{skill.id}}"></div>
                        <div class="skill-name" data-id="{{skill.id}}">{{skill.name}}</div>
                        {{#if @root.isEditMode}}
                            <input class="value-input" type="number" name="system.skills.language.value.{{skill.id}}.value" value="{{skill.value}}"/>
                        {{else}}
                            <div class="skill-rating">{{skill.value}}</div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>