<section class="tab shop-details {{tab.cssClass}}" data-group="primary" data-tab="shop-details">
    <fieldset class="sr5-marketplace-shop-fields">
        <legend>{{localize "SR5.Marketplace.Shop.Title"}}</legend>
    
        <div class="form-group">
            <label>{{localize "SR5.Marketplace.Shop.OwnerUuid"}}</label>
            <div class="form-fields">
                <input type="text" name="system.shop.owner" value="{{system.shop.owner}}" placeholder="Actor UUID of the owner"/>
            </div>
        </div>
    
        <div class="form-group">
            <label>{{localize "SR5.Marketplace.Shop.ConnectionUuid"}}</label>
            <div class="form-fields">
                <input type="text" name="system.shop.connection" value="{{system.shop.connection}}" placeholder="Item UUID of the connection"/>
            </div>
        </div>
        
        <div class="form-group">
            <label>{{localize "SR5.Marketplace.Shop.Modifier"}}</label>
            <div class="form-fields">
                <input type="number" name="system.shop.modifierValue.base" value="{{system.shop.modifierValue.base}}" class="modifier-value"/>
                <select name="system.shop.modifierType">
                    {{selectOptions modifierTypes selected=system.shop.modifierType}}
                </select>
            </div>
        </div>
    
        <div class="form-group stacked">
            <label>{{localize "SR5.Marketplace.Shop.Employees"}} <span>({{localize "SR5.Marketplace.Shop.OneUuidPerLine"}})</span></label>
            <textarea name="system.shop.employees">{{shopEmployees}}</textarea>
        </div>
    </fieldset>
</section>