<div class="sr5-marketplace-shop-actor">
    
    <div class="sheet-top-content">

        {{> 'modules/sr5-marketplace/templates/actor/partials/shop-header.html' }}


        {{> 'modules/sr5-marketplace/templates/actor/partials/shop-attributes.html' }}

        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="shop-details">Shop Details</a>
            <a class="item" data-tab="biography">Biography</a>
        </nav>
    </div>
    
    <section class="sheet-body">
        {{!-- The content for the active tab will be rendered here --}}
        {{> @content}}
    </section>

</div>