<div class="shop-inventory">
    <div class="inventory-header sr5-grid c10">
        <div class="header-img"></div>
        <div class="header-name">{{localize "SR5.Name"}}</div>
        <div class="header-rating">{{localize "SR5.Rating"}}</div>
        <div class="header-itemPrice">{{localize "SR5.Cost"}}</div>
        <div class="header-sellPrice">{{localize "SR5.Marketplace.Shop.SellPrice"}}</div>
        <div class="header-buyPrice">{{localize "SR5.Marketplace.Shop.BuyPrice"}}</div>
        <div class="header-availability">{{localize "SR5.Availability"}}</div>
        <div class="header-buyTime">{{localize "SR5.Marketplace.Shop.BuyTime"}}</div>
        <div class="header-comment">{{localize "SR5.Marketplace.Shop.Comment"}}</div>
        {{#if isEditMode}}
        <button type="button" class="add-item" data-action="addItem" title="{{localize 'SR5.Marketplace.Shop.AddItem'}}">
            <i class="fa-solid fa-plus"></i>
        </button>
        {{/if}}
    </div>

    <div class="inventory-list sr5-grid c10 {{#if isEditMode}}drop-target{{/if}}" data-drop-zone="inventory" data-drop-type="Item">
        {{#each inventory as |item inventoryEntryId|}}
            <div class="item-img">
                <a data-action="openDocumentLink" data-uuid="{{item.itemUuid}}">
                    <img src="{{item.img}}" alt="{{item.name}}"/>
                </a>
            </div>
            <div class="item-name">{{item.name}}</div>
            <div class="item-rating">{{item.rating}}</div>
            <div class="item-itemPrice">{{item.itemPrice}} ¥</div>
            <div class="item-sellPrice"><input type="number" name="system.shop.inventory.{{inventoryEntryId}}.sellPrice.value" value="{{item.sellPrice.value}}" {{#unless @root.isEditMode}}readonly{{/unless}}/></div>
            <div class="item-buyPrice"><input type="number" name="system.shop.inventory.{{inventoryEntryId}}.buyPrice.value" value="{{item.buyPrice.value}}" {{#unless @root.isEditMode}}readonly{{/unless}}/></div>
            
            <div class="item-availability">
                {{#if @root.isGM}}
                    <a class="rollable" data-action="rollAvailability" data-availability="{{item.availability.value}}">{{item.availability.value}}</a>
                {{else}}
                    {{item.availability.value}}
                {{/if}}
            </div>

            <div class="item-buyTime">{{item.buyTime.value}} {{item.buyTime.unit}}</div>
            <div class="item-comment">{{item.comments}}</div>
            <div class="item-controls">
                {{#if @root.isEditMode}}
                <button type="button" class="remove-item" data-action="removeItem" data-inventory-entry-id="{{inventoryEntryId}}" title="Remove Item"></button>
                {{/if}}
            </div>
        {{/each}}
    </div>
</div>