<form class="item-builder-container" autocomplete="off">
    {{!-- The header now contains the navigation tabs, just like your marketplace app --}}
    <header class="builder-header">
        <div class="header-left">
            <img class="item-type-icon" src="{{builder.itemTypeImage}}" alt="Item Type" width="32" height="32"/>
        </div> 
        <div class="builderTitle">{{builder.title}}</div>
        <div class="header-right">
            {{!-- Add this new button --}}
            <button type="button" class="clear-build-btn" data-action="clearBuild" title="Clear entire build">
                <i class="fas fa-times-circle"></i>
            </button>
            <button type="button" class="build-item-btn" data-action="buildItem">
                <i class="fas fa-save"></i>{{localize "SR5Marketplace.ItemBuilder.Title"}}
            </button>
            {{#if purchasingActor}}
            <div class="actor-display" title="{{purchasingActor.name}}">
                <img src="{{purchasingActor.img}}" alt="{{purchasingActor.name}}" width="36" height="36"/>
            </div>
            {{/if}}
        </div>
    </header>
    <nav class="builder-nav tabs" data-group="primary">
    
        <a class="builder-tabs item{{#if (eq activeTab 'builder')}} active{{/if}}" data-tab="builder" data-action="changeTab">
            <div class="tab-icon-wrapper">
                <i class="fa-solid fa-wrench"></i>
            </div>
            <span>{{localize "SR5Marketplace.ItemBuilder.nav.builder"}}</span>
        </a>
        
        <a class="builder-tabs item{{#if (eq activeTab 'effects')}} active{{/if}}" data-tab="effects" data-action="changeTab">
            <div class="tab-icon-wrapper">
                <i class="fa-solid fa-bolt"></i>
            </div>
            <span>{{localize "SR5Marketplace.ItemBuilder.nav.effects"}}</span>
        </a>
    </nav>
    
    {{!-- The main content area renders the correct partial based on the active tab --}}
    <main class="builder-body">
        {{{tabContent}}}
    </main>
</form>