<div class="marketplace-container">
    <header class="marketplace-header">
        <h1>{{localize "SR5.Marketplace.ShoppingBasket"}}</h1>
        <nav class="marketplace-tabs">
            <button id="id-shop" class="marketplace-tab active" data-tab="shop">{{localize "SR5.Marketplace.Tab.Shop"}}</button>
            {{#if isGM}}
            <button id="id-orderReview" class="marketplace-tab" data-tab="orderReview">{{localize "SR5.Marketplace.Tab.OrderReview"}}</button>
            {{/if}}
        </nav>
    </header>

    <!-- Content will be shown/hidden based on the selected tab -->
    <div class="marketplace-tab-content" id="marketplace-tab-content">
        <div class="tab-content active" data-tab-content="shop">
            {{> 'modules/sr5-marketplace/templates/shop.hbs' }}
        </div>
        {{#if isGM}}
        <div class="tab-content" data-tab-content="orderReview">
            {{> 'modules/sr5-marketplace/templates/orderReview.hbs' }}
        </div>
        {{/if}}
    </div>
</div>
