<div class="shop-container">
    <div class="marketplace-filter" id="marketplaceActorDropzone">
        <label for="item-type-selector">{{localize "SR5.Marketplace.SelectItemType"}}:</label>
        <select id="item-type-selector" name="item-type-selector" class="item-type-selector" data-action="changeCategory">
            {{#each itemsByType as |category key|}}
              {{#if category.items.length}}
                <option value="{{key}}" {{#if (eq key ../selectedKey)}}selected{{/if}}>
                  {{localize category.label}}
                </option>
              {{/if}}
            {{/each}}
        </select>
        
        <label for="search-box">{{localize "SR5.Marketplace.Search"}}:</label>
        <input type="text" id="search-box" placeholder='{{localize "SR5.Marketplace.Search items..."}}' class="marketplace-search">
    
        <div class="sr5-marketplace SR5ShopActor-box" id="shopActorDropzone">
            {{#if shopActorBox.shopId}}
                <a data-entity-link="Actor" data-uuid="{{shopActorBox.shopUuid}}">
                    <img src="{{shopActorBox.shopImg}}" alt="{{shopActorBox.shopName}}" class="actor-icon">
                </a>
                {{#if isGM}}<span class="remove-link" title="Remove Shop Actor" data-shop-id="{{shopActorBox.shopId}}">&times;</span>{{/if}}
            {{/if}}
        </div>
        <div class="sr5-marketplace SR5ConnectionLink-box" id="connectionItemDropzone">
            {{#if connectionBox}}
                <a data-entity-link="Item" data-uuid="{{connectionBox.connectionUuid}}">
                    <img src="{{connectionBox.connectionImg}}" alt="{{connectionBox.connectionName}}" class="item-icon">
                </a>
                <span class="remove-link" title="Remove Connection Item" data-item-id="{{connectionBox.connectionId}}">&times;</span>
            {{/if}}
        </div>
        {{#if selectedActorBox.actorId}}
            <div class="sr5-marketplace SR5ActorSelected-box" id="{{selectedActorBox.actorId}}">
                <a data-entity-link="Actor" data-uuid="{{selectedActorBox.actorUuid}}">
                    <img src="{{selectedActorBox.actorImg}}" alt="{{selectedActorBox.actorName}}" class="actor-icon">
                </a>
                {{#if isGM}}<span class="remove-link" title="Remove Selected Actor" data-actor-id="{{selectedActorBox.actorId}}">&times;</span>{{/if}}
            </div>
        {{/if}}
    </div>
    
    <div id="marketplace-items" class="marketplace-items-grid">
        {{> 'modules/sr5-marketplace/templates/item/libraryItem.html' items=selectedItems }}
    </div>
</div>