h1.sr5-marketplace-sr5Type-header {
    background: linear-gradient(to right, #55101e 30%, rgba(85, 16, 30, 0) 100%);
    border-bottom: none;
}

.ItemPreviewApp .window-header {
    background: var(--color-red-darkest);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-height: 2em;
}

.ItemPreviewApp .window-header button.header-control[data-action="close"] {
    min-width: unset !important;
    min-height: unset !important;
    max-width: 14px !important;
    height: 14px !important;
    padding: 0 !important;
    font-size: 0 !important;
    color: transparent;
    background-image: var(--headerClose);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    transition: transform 0.2s ease-in-out;
}

.ItemPreviewApp .window-header .window-title{
    border-bottom: none

}
.ItemPreviewApp .sr5marketplaceGrid.item-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0.1rem;
}
.ItemPreviewApp .sr5marketplace.item-image img{
    width: 80px;
    height: 80px;
}


.ItemPreviewApp .display {
  display: flex;
  flex-grow: 0;
  margin-left: 1em;
}
.ItemPreviewApp .flexrow .item-name {
    flex-grow: 2;
}
.ItemPreviewApp .flexrow .item-type {
    display: block;
    width: 6em;
    flex-grow: 0;
    margin-top: 2em;
}

.sr5-marketplace-yen.preview{
  margin-left: 0.2em;
}
/* --- Tooltip --- */

/*
  This class is applied to our frameless ItemPreviewApp instance.
*/
.item-preview-tooltip {
  /* This is the key to the positioning you want */
  transform: translateY(calc(-100% - 5px));
  transition: transform 0.1s ease-out; /* Optional: Smooth appearance */

  /* Standard tooltip styling */
  z-index: 100;
}

/* The form inside the app needs a background color to be visible.
  Let's use Foundry's variables so it adapts to light/dark mode.
*/


/* Hide the footer with "Add to Cart" buttons, as it's not needed for a tooltip.
*/
.item-preview-tooltip .preview-footer {
  display: none;
}